<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Registro de Presença</title>
    <!-- Inclua os estilos do Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f27ef1c8c0.js" crossorigin="anonymous"></script>
    <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>


</head>
<body onLoad="obterLocalizacao()" class="bg-gray-100">
      <!-- Barra de navegação -->
      <nav class="fixed bottom-0 left-0 w-full px-10 flex justify-between items-center">
        <!-- Link do perfil -->
        <a id="perfil" href="/" class="text-gray-600 mx-4">
            <i class="fas fa-user"></i>
        </a>
        <!-- Histórico de check-ins -->
        <!-- <a href="/gerar-relatorios" class="text-gray-600 mx-4">
            <i class="fas fa-history"></i>
        </a> -->
        <!-- Botão central -->
        <a id="qrcode" href="/registro-presenca" class="text-gray-600">
            <i class="fas fa-qrcode text-2xl rounded-full text-gray-600 p-3 mb-5"></i>
        </a>
        <!-- Grade horário -->
        <!-- <a href="/grade-horario" class="text-gray-600 mx-4">
            <i class="fas fa-calendar-alt"></i>
        </a> -->
        <!-- Logout -->
        <a href="/logout" class="text-gray-600 mx-4">
            <i class="fas fa-sign-out-alt"></i>
        </a>
    </nav>
    <div class="min-h-screen flex items-center justify-center">
        <div class="bg-white p-8 rounded shadow-md w-96">
            <h1 class="text-2xl font-semibold mb-6 text-center">Registro de Presença</h1>
            <h2>Olá professor(a) <%= professor.name %>!</h2><!-- MAVE, CONSERTAR ESTILIZAÇÃO -->
            <form action="/attendances" method="post">
                <!-- Campo para escanear o QR Code -->
                <select class="block text-gray-600 font-medium mb-2" name="id_subject" id="id_subject"><!-- MAVE, CONSERTAR ESTILIZAÇÃO -->
                  <option value="" selected disabled hidden>Selecione a disciplina</option>
                  <% subjects.forEach((subject)=> { %>
                  <option value="<%= subject.id %>"><%= subject.name %></option>
                  <% }) %>
                </select>
                <label for="qrcode" class="block text-gray-600 font-medium mb-2">Escanear QR Code</label>
                <br>
                <video id="preview"></video>
                <div class="flex items-center mb-4">
                    <button onclick="lerQRCode()" id="lerQrCode" class="w-12 h-10 bg-gray-500 text-white py-1 px-1 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-gray-300"><i class="fa-solid fa-camera"></i></button>
                    <p class="text-gray-600 font-medium mx-2">ou</p>
                    <input type="text" placeholder="Insira o código manualmente" id="qrcodeValidation" name="qrcodeValidation" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:ring-blue-300" required>
                </div>
                <!-- Campo para confirmar a geolocalização -->
                <div class="mb-4">
                    <p class="text-gray-600 font-medium ">Localização:</p><div id="endereco" class="text-gray-700"></div>
                    <iframe 
                    id="mapIframe"
                    width="300" 
                    height="170" 
                    frameborder="0" 
                    scrolling="no" 
                    marginheight="0" 
                    marginwidth="0" 
                    
                    src="https://maps.google.com/maps?q=0,0&hl=es&z=14&amp;output=embed"
                   ></iframe> 
                    <br>
                    <input type="checkbox" id="geolocalizacao" name="geolocalizacao" class="w-3 h-3 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-300">
                    <label for="geolocalizacao" class="text-gray-700">Confirmo a geolocalização</label>
                    </div>
                    <div class="flex items-center justify-center">
                      <button onclick="obterLocalizacao()" class="w-12 h-10 bg-gray-500 text-white py-1 px-1 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-gray-300"><i class="fa-solid fa-arrows-rotate"></i></button>
                      <button type="submit" id="botao_registrar" class="w-full h-10 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300">Registrar Presença</button>
                    </div>
            </form>
        </div>
    </div>
</body>


<style>
  #lerQrCode{
    margin-right: 5px;
  }

  nav {
      background-color: #ea0029;
      box-shadow: #e4022c 0px 0px 20px 5px;
  }
  .fa-user, .fa-history, .fa-qrcode, .fa-calendar-alt, .fa-sign-out-alt{
      color: white;
  }
  .fa-user:hover, .fa-history:hover, .fa-calendar-alt:hover, .fa-sign-out-alt:hover{
      color: gray;
  }
  .fa-qrcode{
      background-color: #e4022c;
      border-width: 5px;
      border-color: white;
      margin-top: -100px;
      box-shadow: #e4022c 0px 0px 20px 5px;
  }
  .fa-qrcode:hover{
      background-color: #ff002f;
  }
  #informacoes{
      background-color: #e4022c;
      color: white;
      font-weight: bold;
       font-size: 20px;
       height: 50px;
  }
  
  #checkins{
      background-color: #ea0029;
      color: white;
      font-weight: bold;
      font-size: 20px;
      height: 50px;
  }
  
  #headertabela{
      background-color: #525252;
      border-top-left-radius: 20px;
  }
#botao_registrar{
  margin-left: 5px;
  background-color: #ea0029;
}

#endereco{
  font-size: 12px;
}
</style> 
<script>
    function obterLocalizacao() {
      if ("geolocation" in navigator) {
        navigator.geolocation.getCurrentPosition(function (position) {
          const latitude = position.coords.latitude;
          const longitude = position.coords.longitude;
          const apiKey = '25596983f67c4dac89ba67acad5fd107';
          const url = `https://api.opencagedata.com/geocode/v1/json?q=${latitude}+${longitude}&key=${apiKey}`;

          const iframe = document.getElementById("mapIframe");
          console.log(latitude,longitude)
          const novaURL = `https://www.google.com/maps/embed/v1/place?key=AIzaSyAIAQUUUohJ5yG_QR6EZ5BjpTgRTNBwUGM&q=${latitude}+${longitude}&zoom=16`;
          
          iframe.src = novaURL;

          fetch(url)
            .then(response => response.json())
            .then(data => {
              const endereco = data.results[0].formatted;
              document.getElementById("endereco").textContent = endereco;
            })
            .catch(error => {
              console.error("Erro ao obter endereço: " + error);
            });
        });
      } else {
        console.error("Geolocalização não suportada neste navegador.");
      }
    }
    function lerQRCode() {
      const scanner = new Instascan.Scanner({ video: document.getElementById('preview') });

      scanner.addListener('scan', function (content) {
        console.log(content);
        document.getElementById('qrcode').value = content;
        scanner.stop();
      });

      Instascan.Camera.getCameras()
        .then(function (cameras) {
          if (cameras.length > 0) {
            scanner.start(cameras[0]);
          } else {
            console.error('Nenhuma câmera encontrada.');
          }
        })
        .catch(function (error) {
          console.error('Erro ao acessar a câmera: ' + error);
        });
    }
</script>


</html>